<div class="columns large-6">

    <h2>Editar Mi Información</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

<div class="row">
  <div class="columns large-6">

    <div class="field">
    <%= f.label :name, "Nombre" %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :phone, "Telefono" %><br />
    <%= f.text_field :phone, autofocus: true %>
  </div>

  </div>

  <div class="columns large-6">
    <div class="field">
    <%= f.label :document, "Documentos" %><br />
    <%= f.text_field :document %>
  </div>


  <div class="field">
    <%= f.label :address, "Dirección" %><br />
    <%= f.text_field :address, autofocus: true %>
  </div>
  
  </div>

</div>
  
  <div class="field">
    <%= f.label :email, "Correo" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, "Nueva Contraseña" %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirmar Nueva Contraseña" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password, "Contraseña Actual" %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="columns large-7">
    <div class="actions">
      <%= link_to "atras", :back %>
      <strong>|</strong>
      <%= f.submit "Actualizar" %>
    </div>
  <% end %> 
  </div>
</div>
    

  <div class="columns text-center large-6">
    
    
  </div>



   






