<div class="row align-middle title_registro">
  <div class="columns text-right large-5" style="padding-bottom: 10px; color: green;">
    <i class="fa fa-list-alt fa-3x"></i>
  </div>
  <div class="columns large-4 titulo_registro"> 
    <h2>Registrate</h2> 
  </div>
</div>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

    <div class="field">
        <div class="row align-center">
            <div class="columns large-8">
                 <%= f.text_field :name, autofocus: true, placeholder: "Digite su nombre" %>
            </div>
        </div>
    </div>


    <div class="row align-center">
        <div class="columns large-4">
            <div class="field">
                <%= f.text_field :document, placeholder:"Digite documento de identidad" %>
            </div>
        </div>
        <div class="columns large-4">
            <div class="field">
                <%= f.text_field :phone, autofocus: true, placeholder:"Digite su numero telefonico" %>
            </div>
        </div>
    </div>

    <div class="field" style="margin-bottom: 50px;">
        <div class="row align-center">
            <div class="columns large-8">
                <%= f.text_field :address, autofocus: true, placeholder: "Digite su dirección" %>  
            </div>
        </div>
    </div>

    <div class="field">
        <div class="row align-center">
            <div class="columns large-8">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Digite su correo electornico" %>
            </div>
        </div>
    </div>


    <div class="row align-center">
        <div class="columns large-4">
            <div class="field">
            <%= f.password_field :password, autocomplete: "off", placeholder: "Digite su contraseña" %>
            </div>
        </div>
        <div class="columns large-4">
            <div class="field">
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirme su contraseña" %>
            </div>
        </div>

    </div>


    <div class="actions">
        <div class="row">
            <div class="columns text-center large-12">
                <%= f.submit "Registrarse", :class => "hollow button success" %>
            </div>
        </div>
    </div>
    <% end %>

    <div class="row">
        <div class="columns text-center large-12">
            <%= render "devise/shared/links" %>
        </div>
    </div>
  

