<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :user_document, user.document %>

  <%= hidden_field_tag :user_name, user.name %>

  <%= hidden_field_tag :user_phone, user.phone %>

  <%= hidden_field_tag :user_address, user.address %>

  <div class="field">
    <%= form.label :money_amount %>
    <%= form.number_field :money_amount, id: :money_amount %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
