<div class="row align-middle title_compras">
	<div class="columns text-right large-5" style="padding-bottom: 10px; color: green;">
		<i class="fa fa-credit-card fa-3x"></i>
	</div>
	<div class="columns large-4 editar_monto"> 
		<h2>Editar Monto</h2> 
	</div>
</div>

<%= form_with(model: @user, local: true) do |form| %>
	<% if @user.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
			<ul>
				<% @user.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<div class="row align-center">
			<div class="columns large-5">
				<strong>Ingrese el nuevo monto maximo</strong>
			</div>
		</div>
		<div class="row align-center">
			<div class="columns large-5">
				<%= number_field_tag :max_money, "", placeholder: "Ingrese monto maximo" %>
			</div>
		</div>
	</div>

	<div class="actions">
		<div class="row align-center">
			<div class="columns large-5"></div>
				<div class="columns">
					<%= link_to 'Atras', users_path %> | <%= form.submit "Guardar" %>
				</div>
			<div class="columns"></div>
		</div>
	</div>
<% end %>
