<p id="notice"><%= notice %></p>

<div class="row align-center">
  <div class="columns large-4"></div>
  <div class="columns">
    <p>
    <strong>Documento:</strong>
    <%= @user.document %>
   </p>
  </div>
  <div class="columns"></div>
</div>

<div class="row align-center">
  <div class="columns large-4"></div>
  <div class="columns">
    <p>
  <strong>Nombre:</strong>
  <%= @user.name %>
</p>
  </div>
  <div class="columns"></div>
</div>

<div class="row align-center">
  <div class="columns large-4"></div>
  <div class="columns">
    <p>
    <strong>Telefono:</strong>
    <%= @user.phone %>
    </p>
 </div>
  <div class="columns"></div>
</div>

<div class="row align-center">
  <div class="columns large-4"></div>
  <div class="columns">
    <p>
    <strong>Direccion:</strong>
   <%= @user.address %>
    </p>
  </div>
  <div class="columns"></div>
</div>

<div class="row align-center">
  <div class="columns large-4"></div>
  <div class="columns">
    <p>
    <strong>Monto Maximo:</strong>
    <%= @user.max_money %>
    </p>
  </div>
  <div class="columns"></div>
</div>

<div class="row align-center">
  <div class="columns large-5"></div>
  <div class="columns">
    <%= link_to 'Editar', edit_user_path(@user) %> |
    <%= link_to 'Atras', users_path %>
  </div>
  <div class="columns"></div>
</div>









