
<div class="row align-middle title_registro">
  <div class="columns text-right large-5" style="padding-bottom: 10px; color: green;">
    <i class="fa fa-list-alt fa-3x"></i>
  </div>
  <div class="columns large-4 titulo_registro"> 
    <h2>¿Olvidaste tu Contraseña?</h2> 
  </div>
</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

<div class="row"> 
 <div class="columns large-4"> </div>

 <div class="columns large-4">

  <div class="field">
    <%= f.label :email, "Correo" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "enviarme instrucciones para recuperar contraseña" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
 </div>

 <div class="columns large 4">  </div>

</div>