<%= form_with(model: purchase, local: true) do |form| %>
  <% if purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% purchase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if(@client == nil) %>
    <div class="user_email">
      <%= form.label :client %>
      <%= text_field_tag :client, data: {autocomplete_source: User.order(:email).map(&:email)} %>
    </div>
  <% else %>
    <div class="user_email">
      <%= form.label :client %>
      <%= text_field_tag :client, @client.email %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, id: :purchase_price %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.date_select :time, id: :purchase_time %>
  </div>

  <%= image_tag purchase.invoice.url(:medium) %>
  <div class="field">
    <%= form.label :invoice %>
    <%= form.file_field :invoice %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
