<%= form_with(model: purchase, local: true) do |form| %>
  <% if purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% purchase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <div class="row align-center">
        <div class="columns large-5">
            <% if @client == nil %>
              <%= text_field_tag :client, "", placeholder: "Correo", data: {behavior: "autocomplete"}%>
            <% else %>
              <%= text_field_tag :client, @client.email, placeholder: "Correo", data: {behavior: "autocomplete"} %>
            <% end %>
        </div>
    </div>
  </div>
  <div class="field">
    <div class="row align-center">
        <div class="columns large-5">
          <%= form.number_field :price, id: :purchase_price, placeholder: "Precio" %>
        </div>
    </div>
  </div>

  <div class="field">
    <div class="row align-center">
        <div class="columns large-5">
          <%= form.label :time, "Ingrese la fecha con el siguiente orden: AÑO/MES/DIA" %>
          <%= form.date_select :time, id: :purchase_time %>
        </div>
      </div>
  </div>

  <div class="field">
    <div class="row align-center">
        <div class="columns large-5">
          <%= image_tag purchase.invoice.url(:medium) %>
          <%= form.label :invoice, "Factura" %>
          <%= form.file_field :invoice %>
        </div>
    </div>
  </div>

  <div class="actions">
    <div class="row align-center">
        <div class="columns large-5">
          <%= form.submit "Crear Compra" %>
        </div>
    </div>
  </div>
<% end %>
