<div class="row align-middle title_compras">
  
  <div class="columns text-right large-5" style="padding-bottom: 10px; color: green;">
    <i class="fa fa-shopping-bag fa-3x"></i>
  </div>
  <div class="columns large-4 titulo_compras"> 
    <h2>Compras</h2>
  </div>
</div>

<div class="row align-middle title_totalDeuda">
  <div class="columns large-1" style="padding-right: 0px; padding-left: 0px; margin-left: 20px;">
    <h6>Deuda Total:</h6>
  </div>
  <div class="columns text-left" style="padding-left: 0px; margin-bottom: 5px;">
    <% if not current_user.has_role? :admin %>
      <%= current_user.money_amount %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="columns large-12">
    <table>
      <thead>
        <tr>
          <th>Precio</th>
          <th>Tiempo</th>
          <th>Cliente</th>
          <th colspan="3">Acciones</th>
        </tr>
      </thead>

      <tbody>
        <% @purchases.each do |purchase| %>
          <tr>
            <td><%= purchase.price %></td>
            <td><%= purchase.time %></td>
            <td><%= User.find(purchase.user_id).email %></td>
            <% if @client.nil? %>
              <td><%= link_to 'Detalles', purchase %></td>
            <% else %>
              <td><%= link_to 'Detalles', purchase, client: @client %></td>
            <% end %>
            <% if current_user.has_role? :admin %>
              <td><%= link_to 'Abonar', edit_purchase_path(purchase), :class => "clear button success"  %></td>
              <td><%= link_to 'Eliminar', purchase, method: :delete, data: { confirm: 'Estas Seguro?' }, :class => "clear button alert" %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<br>
<div class="row">
  <div class="columns text-center large-12">
    <% if current_user.has_role? :admin %>
      <%= link_to 'Nueva Compra', new_purchase_path(client: @client), :class => "hollow button success" %>
    <% end %>    
  </div>
</div>
