<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @purchase.price %>
</p>

<p>
  <strong>Time:</strong>
  <%= @purchase.time %>
</p>

<p>
  <strong>Client:</strong>
  <%= User.find(@purchase.user_id).email %>
</p>

<p>
  <strong>Factura:</strong>
  <%= image_tag @purchase.invoice.url(:medium) %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
