<p id="notice"><%= notice %></p>

<div class="row align-center">
	<div class="columns large 4"></div>

	<div class="columns">
		<p>
  			<strong>Cliente:</strong>
  			<%= User.find(@purchase.user_id).email %>
		</p>
	</div>

	<div class="columns"></div>
</div>

<div class="row align-center">

	<div class="columns large-2">
		<p>
  			<strong>Precio:</strong>
  			<%= @purchase.price %>
		</p>	
	</div>

	<div class="colums large-2">
		<p>
  			<strong>Tiempo:</strong>
  			<%= @purchase.time %>
		</p>
	</div>
</div>

<div class="row align-center">
	<div class="columns large 4"></div>
	<div class="columns">
		<strong>Factura:</strong>
	</div>
	<div class="columns"></div>
</div>
<div class="row align-center">

	<div class="columns large 4"></div>

	<div class="columns">
		<p>
  			
  			<%= image_tag @purchase.invoice.url(:medium) %>
		</p>
	</div>

	<div class="columns"></div>
</div>

<div class="row align-center">
	<div class="columns large-4"></div>

	<div class="columns large-6">
		<%= link_to 'Atras', purchases_path(client: @client) %>		
	</div>

</div>

