<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <header class="header">
    <div class="row full_width">
        <%= image_tag "farmacenter-logo.png", :class => "logo"%>
    </div>
  </header>
  <% if user_signed_in? %>
    <div class="row align-right">
      <div class="columns large-1">
        <% if current_user.has_role? :admin %>
          <% if params[:action] == "index" && params[:controller] == "users" %>
            <%= link_to 'Compras', purchases_path, :class => "clear button" %>
          <% elsif params[:action] == "index" && params[:controller] == "purchases" %>
            <%= link_to 'Usuarios', users_path, :class => "clear button" %>
          <% end %>
        <% end %>
      </div>
      <div class="columns large-1">
        <% if params[:action] == "index" && params[:controller] == "users" %>
          <%= link_to "Editar", edit_user_registration_path, :class => "clear button success" %>
        <% end %>
      </div>
      <div class="columns large-1"> 
        <%= link_to 'Salir', destroy_user_session_path, :method => :delete , :class => "clear button alert" %>
      </div>
    </div>
  <% end %>


    <%= yield %>
    <%= javascript_include_tag "application" %>  </div>

  </body>
</html>
